--studyIDX
<studyIDX>
--conv1
<conv1>
--conv2
<conv2>
--conv3
<conv3>
--conv4
<conv4>
--batch_size
<batch_size>
--epochs
<epochs>
--lr
<lr>
--gamma
<gamma>
--data_dir
<data_dir>
--continuation
--checkpoint
<checkpoint>
