--studyIDX
<studyIDX>
--FILELIST_DIR
/users/soumide/repos/Yoke/applications/filelists/
--NPZ_DIR
/net/sescratch1/exempt/artimis/data/cx241203_fp16_full/
--CSV_FILEPATH
/net/sescratch1/exempt/artimis/mpmm/design_cx241203_MASTER.csv
--train_filelist
cx241203_prefixes_train_816sims_noBe_noVoid.txt
--validation_filelist
cx241203_prefixes_val_91sims_noBe_noVoid.txt
--test_filelist
cx241203_prefixes_test_337sims_noBe_noVoid.txt
--block_structure
<B0>
<B1>
<B2>
<B3>
--embed_dim
<EMBED_DIM>
--anchor_lr
<ANCHOR_LR>
--num_cycles
<NUM_CYCLES>
--min_fraction
<MIN_FRACTION>
--terminal_steps
<TERMINAL_STEPS>
--warmup_steps
<WARMUP_STEPS>
--trn_rcrd_filename
./training_study<studyIDX>_epoch<epochIDX>.csv
--val_rcrd_filename
./validation_study<studyIDX>_epoch<epochIDX>.csv
--batch_size
<BATCH_SIZE>
--num_workers
<NUM_WORKERS>
--Ngpus
<NGPUS>
--Knodes
<KNODES>
--total_epochs
150
--cycle_epochs
1
--train_batches
<NTRN_BATCH>
--val_batches
<NVAL_BATCH>
--TRAIN_PER_VAL
5
--continuation
--checkpoint
<CHECKPOINT>
